body {
  background: linear-gradient(90deg, #c7d1db, #d8d8b2);
}

h2,
h3 {
  font-family: "Lobster", cursive;
}

.container-1,
.container-2 {
  width: 75%;
  border: 2px solid rgb(75, 83, 57);
  margin: 0 auto;
  text-align: center;
}

.table-row,
.flex-box-rps,
.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  border: 1px solid black;
  flex-wrap: wrap;
  min-height: 50px;
}

.flex-blackjack-row-1 {
  background: url("http://www.brainiumstudios.com/site/assets/images/blackjack-header-l.jpg");
  /* background-image: url("../images/bg1.jpg"); */
  color: #fff;
  background-size: cover;
  background-position: center;
  position: relative;
}

.flex-blackjack-row-2 {
  background: url("https://www.legitgamblingsites.com/wp-content/uploads/2018/04/blackjack-double-down1-1024x499.jpg");
  background-size: cover;
  background-position: left;
}

.flex-blackjack-row-1 div {
  border: 1px solid whitesmoke;
  padding: 10px;
  flex: 1;
  min-height: 400px;
  height: auto;
  text-align: center;
}

.flex-blackjack-row-1 img {
  width: 25%;
  padding: 10px;
}

.flex-blackjack-row-1 > * {
  z-index: 1;
}

.flex-blackjack-row-1::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.flex-blackjack-row-2 button {
  border: 1px solid black;
  box-shadow: 0 10px 20px rgb(26, 53, 26);
  padding: 10px;
}

.flex-blackjack-row-2 button:hover {
  transform: scale(1.1);
}

table,
th,
td {
  padding: 5px;
  border: 2px solid black;
  text-align: center;
}

.flex-box-rps img:hover {
  box-shadow: 0 10px 50px rgba(37, 50, 233, 1);
}

.flex-box-rps {
  min-height: 200px;
  background-color: #fff;
}

.reset {
  text-align: center;
}
/*
.reset button {
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 10px rgb(71, 68, 68);
} */

.button-3d {
  position: relative;
  background: orangered;
  border: none;
  color: white;
  padding: 15px 24px;
  font-size: 1.4rem;
  box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
  outline: none;
}

.button-3d:hover {
  background: hsl(16, 100%, 45%);
}

.button-3d:active {
  background: hsl(16, 100%, 40%);
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.button-3d::before {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;

  border: solid 6px transparent;
  border-right: solid 6px hsl(16, 100%, 30%);
  border-left-width: 0;
  background: none;
  top: 0;
  left: -6px;
}

.button-3d::after {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;

  border: solid 6px transparent;
  border-top: solid 6px hsl(16, 100%, 30%);
  border-bottom-width: 0;
  bottom: -6px;
  right: 0;
}

.button-3d:active::before {
  border: solid 6px transparent;
  border-right: solid 3px hsl(16, 100%, 30%);
  border-left-width: 0;
  top: 0;
  left: -3px;
}

.button-3d:active::after {
  border: solid 6px transparent;
  border-top: solid 3px hsl(16, 100%, 30%);
  border-bottom-width: 0;
  right: 0;
  bottom: -3px;
}

.gradient-button {
  position: relative;
  /* z-index: 1; */
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  font-style: italic;
  box-sizing: border-box;
  background-color: #fff;
  border: solid 10px transparent;
  border-image: linear-gradient(to top right, orangered, yellow);
  border-image-slice: 1;
}
